<section class="section background" id="background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am set to begin my final co-op this fall with <a class="underline-link" href="https://sra.io/" target="_blank">Security Risk Advisors</a>, specifically working with the Advisory Blue Team services. I'm also a cybersecurity student at <a class="underline-link" href="http://www.cci.drexel.edu/" target="_blank">Drexel University</a> where I've been able to gain knoweldge and hone in my technical skills!
    </p>

    <p> 
      I'm a 21 year old young adult trying to make habits that will build my ideal future.  I strive to connect with other like minded indivuals and create a network of motivated indivuals. 
    </p>

    <p>
      My goal is to innovate and change the way people live their lives, for the better. In my free time, I love running, playing sports, reading, and spending time with friends.  I recently completed my first half marathon and look to run a full marathon in the coming months.
    </p>

    {% include employment-status.html %}
  </div>
</section>

