<section class="section featured-projects" id="featured">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://spoton.pet" target="_blank">
          <img src="https://media1.giphy.com/media/zlkDEPqDcExLG45Iyc/giphy.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://spoton.pet/" target="_blank">SpotOn.Pet</a>
        </div>
        <p>A new service that gives pet parents the ability to travel with their pets. Developed an Uber-like iOS application in <strong>Swift</strong> that has generated millions in revenue. Designed a custom <strong>Wordpress</strong> theme that fits the company's brand and missions.</p>
      </figcaption>
    </div>

      <div class="project">
        <figure class="project__pic">
          <a href="https://dormdine.co" target="_blank">
            <img src="https://media4.giphy.com/media/q6XmxtOJ5pVm0eLN7k/giphy.gif" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://dormdine.co/" target="_blank">Dormdine</a>
          </div>
          <p>A meal plan service that's changing the way students dine on college campuses. I'm building Dormdine with <strong>React Native</strong> instead of native technologies for cross-platform support. Coming early 2021.</p>
        </figcaption>
      </div>

    <!-- <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
            <img src="img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
      </figcaption>
    </div> -->
</section>
