<section class="section featured-projects" id="featured">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="www.notseanbrown.com" target="_blank">
          <img src="https://media1.giphy.com/media/zlkDEPqDcExLG45Iyc/giphy.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="www.notseanbrown.com" target="_blank">Vishing Toolkit</a>
        </div>
        <p>Paste in project description</p> <!--use <strong> to bolden languages or technical items used-->
      </figcaption>
    </div>
</section>