<section class="section featured-projects" id="featured">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="www.notseanbrown.com" target="_blank">
          <img src="https://media1.giphy.com/media/zlkDEPqDcExLG45Iyc/giphy.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="www.notseanbrown.com" target="_blank">Vishing Toolkit</a>
        </div>
        <p>A new service that gives pet parents the ability to travel with their pets. Developed an Uber-like iOS application in <strong>Swift</strong> that has generated millions in revenue. Designed a custom <strong>Wordpress</strong> theme that fits the company's brand and missions.</p>
      </figcaption>
    </div>
</section>
