<div class="mobilenav">
    <button id="burger" class="open-main-nav">
    <span class="burger"></span>
    <span class="burger-text">Menu</span>
    </button>
    <nav class="main-nav" id="main-nav">
    <ul>
        <li>
            <a href="#background">Background</a>
        </li>
        <li>
            <a href="#skills">Skills</a>
        </li>
        <li>
            <a href="#experience">Experience</a>
        </li>
        <li>
            <a href="#featured">Projects</a>
        </li>
        <li>
            <a href="mailto:jobs@faraaz.me">Contact</a>
        </li>
    </ul>
    </nav>
</div>

<div class="topnav">
  <a href="#featured">Projects</a>
  <a href="#experience">Experience</a>
  <a href="#skills">Skills</a>
  <a href="#background">Background</a>
</div>